# Mazari AI Bot Environment Variables
BOT_NAME="〔 𝗠𝗔𝗭𝗔𝗥𝗜  𝗔𝗜  𝗕𝗢𝗧 〕"
BOT_OWNER="MAZARI TEAM"
OWNER_NUMBER="923232391033"
OWNER_NUMBERS="923232391033,923292823218"
BOT_PACKNAME="MAZARI BOT"
BOT_AUTHOR="MAZARI TEAM"
BOT_MODE="public"
GIPHY_API_KEY="qnl7ssQChTdPjsKta2Ax2LMaGXz303tq"
LOGIC_URL=""
MAX_STORE_MESSAGES="20"
STORE_WRITE_INTERVAL="10000"
