# Node modules
node_modules/

# Environment files
.env
.env.*
*.env

# Baileys session files & auth folders
session/
auth/
*auth_info.json
*session.json
mazari_session/
*.session

# Repository Maintenance & logs
baileys_store.json
temp/
tmp/
*.zip
*.bin
*.log

# OS specific files
.DS_Store
Thumbs.db
